global
    stats timeout 30s

defaults
    log     global
    mode    tcp
    option  tcplog
    # Tiempos de espera críticos para que no falle en Docker
    timeout connect 5s
    timeout client  50s
    timeout server  50s

listen mysql-cluster
    bind *:3306
    mode tcp
    option tcplog
    balance roundrobin
    # Ajusta los nombres de los nodos según tu compose
    server pxc-node1 pxc-node1:3306 check
    server pxc-node2 pxc-node2:3306 check
    server pxc-node3 pxc-node3:3306 check

listen stats
    bind *:2999
    mode http
    stats enable
    stats uri /stats
