global
    log 127.0.0.1 local0 notice
    user root
    group root

defaults
    log global
    retries 2
    timeout connect 3000
    timeout server 5000
    timeout client 5000

#listen write_nodes
#    bind 0.0.0.0:3306
#    mode tcp
#    option mysql-check user haproxy_user
#    server node1 node1:3306 check inter 2000 fall 3 rise 99999999
#    server node2 node2:3306 check backup

#listen read_nodes
#    bind 0.0.0.0:3307
#    mode tcp
#    option mysql-check user haproxy_user
#    balance roundrobin
#    server node2 node2:3306 check
#    server node3 node3:3306 check
listen mysql-cluster
    mode 	tcp
    option	tcpka
    bind		*:3306
    #option	mysql-check	user	testuser
    #option mysql-check
    option tcp-check
    #tcp-check expect string 5.5.5-10.
    balance	roundrobin
    server	master1		node1-mariadb:3306	check
    server	master2		node2-mariadb:3306	check
    server	master3		node3-mariadb:3306	check

listen stats_page
    bind 0.0.0.0:2999
    mode http
    stats enable
    stats uri /stats
    stats realm Strictly\ Private
    stats auth admin:admin
